$blue: rgba(67, 126, 247, 1);
$gray: rgba(39, 45, 55, 1);
$gray50: rgba(95, 109, 126, 1);
$gray700: rgba(39, 45, 55, 1);
$neutral600: rgb(234, 235, 240);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}

nav {
  padding: 20px 160px;
  border-bottom: 1px solid $neutral600;
  .nav_container {
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
    .nav_container_left {
      display: flex;
      gap: 64px;
      img {
        width: 160px;
        height: 40px;
      }
      .nav_menu {
        display: flex;
        gap: 32px;
        a {
          font-weight: 600;
          font-size: 15px;
          line-height: 22px;
          text-decoration: none;
          color: $gray;
          display: flex;
          align-items: center;
        }
      }
    }
    .nav_container_right {
      display: flex;
      gap: 6px;
      button {
        padding: 12px 18px;
        border-radius: 6px;
        font-weight: 600;
        font-size: 15px;
        line-height: 22px;
        border: none;
        &:first-child {
          color: $blue;
          background-color: transparent;
        }
        &:last-child {
          background-color: $blue;
          color: white;
        }
      }
    }
  }
}
#welcome {
  padding: 0 160px 64px;
  .welcome_container {
    padding: 80px 30px 92px;
    display: flex;
    justify-content: center;
    .text {
      display: flex;
      flex-direction: column;
      width: 640px;
      gap: 16px;
      text-align: center;
      .discount {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.1px;
        color: $blue;
      }
      h1 {
        font-weight: 700;
        font-size: 52px;
        line-height: 60px;
        letter-spacing: -1%;
        color: $gray;
        margin-bottom: 8px;
      }
      .info {
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: -0.1px;
        color: $gray50;
      }
    }
  }
}
#buttons {
  height: 94px;
  display: flex;
  justify-content: center;
  align-items: end;
  .button_container {
    display: flex;
    border-radius: 5px;
    border: 1px solid $neutral600;
    padding: 4px;
    gap: 6px;
    background-color: rgb(247, 247, 248);
    button {
      padding: 9px 18px;
      border-radius: 5px;
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
      width: 185px;
      border: none;
      &:first-child {
        background-color: white;
        color: $gray700;
      }
      &:last-child {
        background-color: transparent;
        color: $gray50;
      }
    }
  }
}
