@using AvtosRestoran.Models
@model List<Service>
@{
    double second = 0.1;
}
<div class="container-fluid py-5 bg-dark hero-header mb-5">
    <div class="container text-center my-5 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Services</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center text-uppercase">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">Service</li>
            </ol>
        </nav>
    </div>
</div>
        </div>
<!-- Navbar & Hero End -->
<!-- Service Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Our Services</h5>
            <h1 class="mb-5">Explore Our Services</h1>
        </div>
        <div class="row g-4">
            @foreach (var service in Model)
            {
                var secondT = second + "s";
                <div class="col-lg-3 col-sm-6 wow fadeInUp" style="height:240px" data-wow-delay="@secondT">
                    <div class="service-item rounded pt-3 h-100">
                        <div class="p-4">
                            <i class="fa fa-3x @service.Icon text-primary mb-4"></i>
                            <h5>@service.Title</h5>
                            <p>
                                @{
                                    var text = service.Description.Length > 70 ? service.Description.Substring(0, 70) : service.Description;
                                }@text...
                            </p>
                        </div>
                    </div>
                </div>
                if (second == 0.7)
                    second = 0.1;
                else
                    second += 0.2;

            }
        </div>
    </div>
</div>
<!-- Service End -->
